---
interface Props {
  title?: string;
}

const { title } = Astro.props;

import Footer from "../components/Footer.astro";
import NavSidebar from "../components/Nav-Sidebar.astro";
import ToolDial from "../components/ToolDial.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="https://www.geogebra.org/apps/deployggb.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavSidebar />
    <div class="main-content">
      <slot />
    </div>

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"
    ></script>
    <ToolDial />

    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--accent);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
</style>
