---
interface Props {
  title?: string;
}

const { title } = Astro.props;

import Footer from "../components/Footer.astro";
import NavSidebar from "../components/Nav-Sidebar.astro";
import ToolDial from "../components/ToolDial.astro";
import type { NavItems } from "../types/types";

const sidebarItems: NavItems[] = [
  {
    label: "Introducción a MecaLearn",
    href: "/mecalearnIntro",
    iconPath1:
      "M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z",
    iconPath2:
      "M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z",
  },
  {
    label: "Introducción a la Física",
    href: "/about",
    iconPath1:
      "M8.975 11H2V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z",
    iconPath2:
      "M4.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 3 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 4.5 0Z",
  },
  {
    label: "Conversión de Unidades",
    href: "/services",
    iconPath1:
      "M7.975 11H1V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z",
    iconPath2:
      "M5.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 4 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 5.5 0Z",
  },
  {
    label: "Movimiento Rectilíneo Uniforme",
    href: "/services",
    iconPath1:
      "M7.975 11H1V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z",
    iconPath2:
      "M5.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 4 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 5.5 0Z",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="https://www.geogebra.org/apps/deployggb.js"></script>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavSidebar items={sidebarItems} />
    <div class="main-content">
      <slot name="home" />
    </div>

    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"
    ></script>
    <ToolDial />

    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--accent);
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
</style>
