---
import type { Heading1 } from "../types/types";
interface Props {
  element: Heading1;
}

const { element } = Astro.props;
---

<div class="flex flex-col items-center text-center">
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-meca-mainBlue"
  >
    {element.title}
  </h1>
  <p
    class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-meca-mainBlue"
  >
    {element.sub}
  </p>
  
  </a>
</div>
