---

import type { SubjectCards } from '../types/types';
interface Props {
  card: SubjectCards[]
}

const { card } = Astro.props;
---
<ul>
  {card.map((item) => 
  <li>
    <a
  href={item.href}
  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
  <img
    class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
    src={item.img}
    alt=""
  />
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {item.title}
    </h5>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {item.label}
    </p>
    <svg
      class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 10"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 5h12m0 0L9 1m4 4L9 9"></path>
    </svg>
  </div>
</a>
  </li>




)}



</ul>
