---
import type { NavItems } from "../types/types";

interface Props {
  items: NavItems[];
}

const { items } = Astro.props;
---

<nav class="bg-meca-lightestBlue border-meca-midBlue dark:bg-meca-mainBlue">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <!-- drawer init and show -->
    <div class="text-center">
      <button
        class="text-white bg-meca-mainBlue hover:bg-meca-secondaryBlue focus:ring-4 focus:ring-meca-lightBlue font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-meca-midBlue dark:hover:bg-meca-lightBlue focus:outline-none dark:focus:ring-meca-lightBlue"
        type="button"
        data-drawer-target="drawer-navigation"
        data-drawer-show="drawer-navigation"
        aria-controls="drawer-navigation"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          ><path
            fill="currentColor"
            d="M4 6h24v2H4zm0 18h24v2H4zm0-12h24v2H4zm0 6h24v2H4z"></path>
        </svg>
      </button>
    </div>

    <!-- navbar component -->
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img
        src="../../assets/misc/No_Learn_No_BG.png"
        class="h-12"
        alt="MecaLearn Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >MecaLearn</span
      >
    </a>
    <div class="flex md:order-2">
      <button
        type="button"
        data-collapse-toggle="navbar-search"
        aria-controls="navbar-search"
        aria-expanded="false"
        class="md:hidden text-meca-midBlue dark:text-meca-lightestBlue hover:bg-meca-lightBlue dark:hover:bg-meca-secondaryBlue focus:outline-none focus:ring-4 focus:ring-meca-lightBlue dark:focus:ring-meca-secondaryBlue rounded-lg text-sm p-2.5 me-1"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
        </svg>
        <span class="sr-only">Buscar</span>
      </button>
      <div class="relative hidden md:block">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-meca-lightBlue dark:text-meca-lightestBlue"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
          </svg>
          <span class="sr-only">Search icon</span>
        </div>
        <input
          type="text"
          id="search-navbar"
          class="block w-full p-2 ps-10 text-sm text-meca-mainBlue border border-meca-secondaryBlue rounded-lg bg-meca-lightestBlue focus:ring-meca-lightBlue focus:border-meca-lightBlue dark:bg-meca-mainBlue dark:border-meca-midBlue dark:placeholder-meca-lightBlue dark:text-meca-lightestBlue dark:focus:ring-meca-lightBlue dark:focus:border-meca-lightBlue"
          placeholder="Buscar..."
        />
      </div>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-search"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-meca-lightBlue rounded-lg bg-meca-lightestBlue md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-meca-lightestBlue dark:bg-meca-mainBlue md:dark:bg-meca-mainBlue dark:border-meca-midBlue"
      >
        <li>
          <a
            href="/"
            class="block py-2 px-3 text-white bg-meca-mainBlue rounded md:bg-transparent md:text-meca-mainBlue md:p-0 md:dark:text-meca-lightBlue"
            aria-current="page">Inicio</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-meca-mainBlue rounded hover:bg-meca-lightestBlue md:hover:bg-transparent md:hover:text-meca-mainBlue md:p-0 md:dark:hover:text-meca-lightBlue dark:text-meca-lightestBlue dark:hover:bg-meca-secondaryBlue dark:hover:text-meca-lightestBlue md:dark:hover:bg-transparent dark:border-meca-midBlue"
            >Nosotros</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-meca-mainBlue rounded hover:bg-meca-lightestBlue md:hover:bg-transparent md:hover:text-meca-mainBlue md:p-0 dark:text-meca-lightestBlue md:dark:hover:text-meca-lightBlue dark:hover:bg-meca-secondaryBlue dark:hover:text-meca-lightestBlue md:dark:hover:bg-transparent dark:border-meca-midBlue"
            >Recursos</a
          >
        </li>
      </ul>
    </div>
  </div>

  <!-- drawer component -->
  <div
    id="drawer-navigation"
    class="fixed top-0 left-0 z-40 w-128 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-meca-lightestBlue dark:bg-meca-mainBlue"
    tabindex="-1"
    aria-labelledby="drawer-navigation-label"
  >
    <h5
      id="drawer-navigation-label"
      class="text-base font-semibold text-meca-midBlue uppercase dark:text-meca-lightBlue"
    >
      Menú
    </h5>
    <button
      type="button"
      data-drawer-hide="drawer-navigation"
      aria-controls="drawer-navigation"
      class="text-meca-midBlue bg-transparent hover:bg-meca-lightBlue hover:text-meca-mainBlue rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-meca-secondaryBlue dark:hover:text-meca-lightestBlue"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
          clip-rule="evenodd"></path>
      </svg>
      <span class="sr-only">Close menu</span>
    </button>
    <div class="py-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
        {
          items.map((item) => (
            <li>
              <a
                href={item.href}
                class="flex items-center p-2 text-meca-mainBlue rounded-lg dark:text-meca-lightestBlue hover:bg-meca-lightestBlue dark:hover:bg-meca-secondaryBlue group"
              >
                <svg
                  class="w-5 h-5 text-meca-midBlue transition duration-75 dark:text-meca-lightBlue group-hover:text-meca-mainBlue dark:group-hover:text-meca-lightestBlue"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 22 21"
                >
                  <path d={item.iconPath1} />
                  <path d={item.iconPath2} />
                </svg>
                <span class="ms-3">{item.label}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</nav>
